body {
	font-family:"Oxygen", Arial;
	background-color:#98004a;
}

#pink img {
	 position: absolute;
    
    z-index: -1;
}

.jumbotron{
	background-color:#98004a;
}
.jumbotron h1{
	color:#fff;
	letter-spacing:2px;
	margin-top:0px;

}

.jumbotron p {
	color:#D8284E;
}

/*	nav buttons*/
.btn-primary{
	background-color: transparent;
	border-color:#D8284E;
	color:#fff;
	border-width: 4px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
	color:#fff;
	font-weight:bold;
	background-color:#D8284E;
	border-color:#fff;
}

/*Projects Portfolio*/


.projects{
	background-color:#fff;
	padding-top:10px;
	padding-left: 10px;
	padding-right: 10px;
}
.thumbnail img:hover{
	transform:scale(1.1);
}

.thumbnail img{
	transition: all 0.3s ease 0s;
	width:100%;
}
 #projects p{
 	color:#D8284E;
 	text-align:center;
 	font-size: 18px;
 	padding: 5px;
 }
 #projects h4{
 	text-align:center;
 	color:#D8284E;
 }
 .well {
 	background-color:#98004a;
 	color:#fff;
 	text-align:center;
 	margin-top:15px;
 }

/* Skills Summary*/
.main p {
	background-color:#fff;
	text-align:center;
	color:#f25a57;
	font-size: 50px;
}

.main{
	background-color:#fff;
}

/*about me*/
.main-1 {
	padding:50px 30px;
	font-family: Arial;
	font-size: 16px;
	background-color:#fff;
}
.main-1 h1 {
	font-family: "Damion";
	color:#98004a;
}
.education ul{
	font-size:10px;

}


/*contact form*/

#Contact {
	color:#fff;
	margin-top:25px;
	font-size: 25px;
}
   

#name {
	color:#000;
	font-style:bold;
}

 
input[type="text"] {
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  color:#98004a;
}
input[type="text"]:focus,
input[type="text"].focus {
  box-shadow: inset 2px 2px 4px 0 #98004a;
}

input[type="reset"],
input[type="submit"] {
    background-color: #F4A3A1;
    border-radius: 3px;
} 


/*Footer*/
.footer {
	background-color:transparent;
	color:#98004a;
	margin-top:25px;

bottom:0px;
height:30;
right:0%;
left:0%;
position:fixed!important;
position:absolute;
width=100%;
top:expression((0-(footer.offsetHeight)+
(document.documentElement.clientHeight?
document.documentElement.clientHeight:
document.body.clientHeight)+(ignoreMe=document.documentElement.scrollTop?
document.documentElement.scrollTop:document.
body.scrollTop))+'px');
text-align:center;
visibility:visible;
}
}



#MoveUp {
	font-size:8px;
	

}
/*tree Shakers*/


